.movies {
  flex: 1;
  background-color: #202020;
  
}

.movies__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 364px);
  gap:  30px 24px;
  margin: 0;
  padding: 0;
  padding: 70px 70px 30px;
  justify-content: center;
  list-style: none;
}