.body_locked {
  overflow: hidden;
}

.menu__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  font-family: Inter, 'Areal', sans-serif;
  font-style: normal;
  margin: 0;
}


.menu__link {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #FFFFFF;
  margin-right: 20px;
  text-decoration: none;
}

.menu__link_active {
  font-weight: 500;
}

.menu__item .menu__link_main {
  display: none;
}

.menu__sign-in-link {
  font-family: Inter, 'Areal', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-decoration: none;
  padding: 8px 20px 8px;
  border-radius: 3px;
  color: #000000;
  background-color: #3DDC84;
  margin-right: 0;
}

.menu__profile-link {
  font-family: Inter, 'Areal', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #FFFFFF;
  text-decoration: none;
  padding: 8px 20px 8px;
  background: #313131;
  border-radius: 20px;
  margin-right: 0;
  margin-left: 30px;
  font-size: 14px;
  line-height: 16px;
}

@media screen and (max-width: 768px) {
  .menu {
    
    position: absolute;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    transition: right .3s ease-in-out .3s;
  }

  .menu_opened {
    right: 0;
  }

  .menu__list {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #222222;
    color: #ffffff;
    height: 100vh;
    width: 70%;
    padding: 0;
    margin-left: auto;
  }
  .menu__item .menu__link_main {
    display: block;
  }
  .menu__link {
    margin: 0;
    font-size: 18px;
    line-height: 22px;
  }
  .menu__link_type_profile {
    font-size: 14px;
    line-height: 16px;
    padding: 8px 20px 8px;
  }
  .menu__item {
    
    margin-bottom: 28px;
  }
  .menu__item:first-child {
    margin-top: 128px;
  }
  .menu__item:last-child {
    margin-top: auto;
    margin-bottom: 90px;
  }
  .menu__link_active {
    font-weight: 400;
    border-bottom: #ffffff 2px solid;
  }
}

@media screen and (max-width: 520px) {
  .menu__list {
    width: 100%;
  }
}